<div ng-app="app">
  <div ng-controller="squirell_sitings_ctrl" ng-init="setup()">

  <squirell-sitings-directive> </squirell-sitings-directive>

  <ul>
    <li ng-repeat="error in errors">{{ error }}</li>
  </ul>
  
  <p>

   Type of squirell: <input ng-model="newSquirellSquirell_type">
      Description: <input ng-model="newSquirellDescription">
         Location: <input ng-model="newSquirellLocation">
      Date: <input ng-model="newSquirellDate">
     <button ng-click="addSquirell(newSquirellSquirell_type, newSquirellDescription, newSquirellLocation, newSquirellDate)">Add Squirell</button>
  </p>
 <squirell-table> </squirell-table>
  </div>
</div>